.tracks-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.left-sidebar {
    width: 30%;
    height: 100%;
    overflow: auto;
    background-color: #111;
    transition: background-color 0.2s ease-in-out;
    padding-left: 10px;
}

.entry {
    margin: auto;
    width: 100%;
    color: white;
    padding: 10px 10px;
    cursor: default;
    border-bottom: 1px solid #303030;
}

.ignored {
    background-color: #c22a2a !important;
}

.entry:last-of-type {
    border-bottom: none !important;
}

.entry:hover {
    background-color: #3b4047;
}

.active-entry {
    background: #222;
}

.subpage-content {
    width: 66%;
    overflow: auto;
    padding: 15px;
}

.metadata {
    max-height: 100%;
    width: 100%;
}

.add-metadata-btn {
    width: 100%;
    height: 2.5rem;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 8px;
    border: 2px solid transparent;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.add-metadata-btn:focus-within {
    border: 2px solid #3c50fa;
}

.absolute {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: left 0.1s ease-out;
}

.custom-metadata-name {
    right: 30% !important;
    background: #2c2c2c;
    color: white;
    border: none;
    outline: none;
    padding: 4px 10px;
}

.right {
    left: 70%;
}

.custom-metadata-add {
    background: #3c50fa;
    border:none;
    color: white;
    outline: none !important;
    font-weight: bold;
    padding: 4px 10px;
}

.track-header {
    width: 100%;
    height: max-content;
    display: flex;
    gap: 10px;
}

.track-data {
    
}

.track-data > a {
    text-decoration: underline;
    color: #555;
    cursor: pointer;
}

.track-data > a:hover {
    color: #555;
}

.meta-input {
    width: 100%;
    height: 3rem;
}